/eclipse-bin/
/build/
/build_examples/
/build_tests/
/dist/
/staging/
/generated/
/build.properties
/${cpd-results}
/${pmd-results}
/architect.log
/.DS_Store
/custom_jre/
/nbproject/private/
/target
/pom.xml
/lib/power-lib
/install-mvn-deps.sh
