<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Architect</string>
	<key>CFBundleShortVersionString</key>
	<string>1.11.2.jdbc</string>
	<key>CFBundleGetInfoString</key>
	<string>1.11.2.jdbc</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>false</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleExecutable</key>
	<string>PowerArchitectStub</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleIconFile</key>
	<string>Power Architect.icns</string>
	<key>CFBundleIdentifier</key>
	<string>ca.sqlpower.architect</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>SQL Power Architect Project</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>architect</string>
			</array>
		</dict>
	</array>
	<key>Java</key>
	<dict>
		<key>MainClass</key>
		<string>ca.sqlpower.architect.swingui.ArchitectFrame</string>
		<key>JVMVersion</key>
		<string>1.6</string>
		<key>ClassPath</key>
		<array>
			<string>$JAVAROOT/lib/activation.jar</string>
			<string>$JAVAROOT/lib/annotations.jar</string>
			<string>$JAVAROOT/lib/apache-mime4j-0.6.jar</string>
			<string>$JAVAROOT/lib/commons-beanutils-bean-collections.jar</string>
			<string>$JAVAROOT/lib/commons-beanutils-core.jar</string>
			<string>$JAVAROOT/lib/commons-beanutils.jar</string>
			<string>$JAVAROOT/lib/commons-codec-1.10.jar</string>
			<string>$JAVAROOT/lib/commons-collections-3.2.1.jar</string>
			<string>$JAVAROOT/lib/commons-dbcp-1.2.2.jar</string>
			<string>$JAVAROOT/lib/commons-digester.jar</string>
			<string>$JAVAROOT/lib/commons-httpclient-3.1.jar</string>
			<string>$JAVAROOT/lib/commons-io-1.4.jar</string>
			<string>$JAVAROOT/lib/commons-lang-2.4.jar</string>
			<string>$JAVAROOT/lib/commons-logging.jar</string>
			<string>$JAVAROOT/lib/commons-pool-1.5.1.jar</string>
			<string>$JAVAROOT/lib/commons-vfs-1.0.jar</string>
			<string>$JAVAROOT/lib/edtftpj-1.5.4.jar</string>
			<string>$JAVAROOT/lib/eigenbase-properties.jar</string>
			<string>$JAVAROOT/lib/forms-1.3.0.jar</string>
			<string>$JAVAROOT/lib/guava-11.0.2.jar</string>
			<string>$JAVAROOT/lib/httpclient-4.0.jar</string>
			<string>$JAVAROOT/lib/httpcore-4.0.1.jar</string>
			<string>$JAVAROOT/lib/httpmime-4.0.jar</string>
			<string>$JAVAROOT/lib/iText-2.0.8.jar</string>
			<string>$JAVAROOT/lib/jakarta-regexp-1.2.jar</string>
			<string>$JAVAROOT/lib/jcommon-1.0.0.jar</string>
			<string>$JAVAROOT/lib/jfreechart-1.0.1.jar</string>
			<string>$JAVAROOT/lib/jmdns-2.1.jar</string>
			<string>$JAVAROOT/lib/jsr305.jar</string>
			<string>$JAVAROOT/lib/junit-3.8.2.jar</string>
			<string>$JAVAROOT/lib/kettle-core-3.2.2.jar</string>
			<string>$JAVAROOT/lib/kettle-db-3.2.2.jar</string>
			<string>$JAVAROOT/lib/kettle-engine-3.2.2.jar</string>
			<string>$JAVAROOT/lib/log4j-1.2.15.jar</string>
			<string>$JAVAROOT/lib/mail-1.4.1.jar</string>
			<string>$JAVAROOT/lib/miglayout-3.7-swing.jar</string>
			<string>$JAVAROOT/lib/olap4j-0.9.7.302.jar</string>
			<string>$JAVAROOT/lib/opencsv-1.8.jar</string>
			<string>$JAVAROOT/lib/osx_adapter.jar</string>
			<string>$JAVAROOT/lib/piccolo.jar</string>
			<string>$JAVAROOT/lib/piccolox.jar</string>
			<string>$JAVAROOT/lib/rsyntaxtextarea.jar</string>
			<string>$JAVAROOT/lib/servlet-api-3.0.jar</string>
			<string>$JAVAROOT/lib/spring-core.jar</string>
			<string>$JAVAROOT/lib/spring-security-core-2.0.5.RELEASE.jar</string>
			<string>$JAVAROOT/lib/sqlpower_library.jar</string>
			<string>$JAVAROOT/lib/velocity-1.6.2.jar</string>
			<string>$JAVAROOT/lib/velocity-tools-generic-1.4.jar</string>
			<string>$JAVAROOT/lib/xercesImpl-2.9.1.jar</string>
			<string>$JAVAROOT/architect.jar</string>
			<string>$JAVAROOT/jdbc</string>
		</array>
		<key>VMOptions</key>
		<string>-Xmx600m</string>
	</dict>
</dict>
</plist>
