## Sample Velocity template to generate a HTML report 
## from a Power*Architect project.
## Available variables in the Velocity context (all with $ prefix)
## $tables - a Collection of all tables in the project (instances of SQLTable)
## $projectName - the current name of the project
## $sorter - see: http://velocity.apache.org/tools/releases/1.4/javadoc/org/apache/velocity/tools/generic/SortTool.html
## $dateTool - see: http://velocity.apache.org/tools/releases/1.4/javadoc/org/apache/velocity/tools/generic/DateTool.html
## $numberTool - see: http://velocity.apache.org/tools/releases/1.4/javadoc/org/apache/velocity/tools/generic/NumberTool.html
## $alternator - see: http://velocity.apache.org/tools/releases/1.4/javadoc/org/apache/velocity/tools/generic/AlternatorTool.html

## $sqlTypes - a reference to ca.sqlpower.sqlobject.SQLType to provide the static method
##             String getTypeName(int)

#macro( typeDisplay $column )
   #set ($jdbcType = $column.type)
   
   #if ($jdbcType == 2005)CLOB 
   #elseif ($jdbcType == 2011)NCLOB 
   #elseif ($jdbcType == 2004)BLOB 
   #elseif ($jdbcType == -3)VARBINARY 
   #elseif ($jdbcType == -4)LONGVARBINARY 
   #elseif ($jdbcType == -1)LONGVARCHAR 
   #elseif ($jdbcType == 93)TIMESTAMP 
   #elseif ($jdbcType == 92)TIME
   #elseif ($jdbcType == 91)DATE 
   #elseif ($jdbcType == -15)NCHAR($column.precision)
   #elseif ($jdbcType == 4)INTEGER
   #elseif ($jdbcType == -5)BIGINT
   #elseif ($jdbcType == 5)SMALLINT
   #elseif ($jdbcType == 8)DOUBLE
   #elseif ($jdbcType == 7)REAL
   #elseif ($jdbcType == 16)BOOLEAN
   #elseif ($jdbcType == -7)BIT
   #elseif ($jdbcType == 1)CHAR($column.precision)
   #elseif ($jdbcType == 2)NUMERIC($column.precision, $column.scale)
   #elseif ($jdbcType == 2)DECIMAL($column.precision, $column.scale)
   #elseif ($jdbcType == -9)NVARCHAR($column.precision)
   #elseif ($jdbcType == 12)VARCHAR($column.precision)
   #elseif ($column.sourceDataType != "")$column.sourceDataTypeName
   #else $column.typeName #end
#end

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style>
      .table {
        background-color:#F5F5FF;
        border-left:4px solid gray;
        border-bottom:4px solid gray;
        border-top:4px solid gray;
        border-right:4px solid gray;
        margin-bottom:3em;
        margin-left:2em;
        margin-right:2em;
        padding:1em;
      }
      .tableNameHeading h1 {
          display: inline;
        font-family: Segoe UI, Arial, sans-serif;
        font-size:125%;
        font-weight:bold;
      }
        
      .tableNameHeading h2 {
        display: inline;
        font-family: Segoe UI, Arial, sans-serif;
        font-size:115%;
        font-weight:normal;
      }
      
      .tableComment { 
        background-color:#e4efff; margin-bottom:20px;
      }
      
      .tableDefinition { 
        padding:2px;
        border-collapse:collapse;
        margin-top:1em;
      }

      .tdTableDefinition {
        padding-right:10px;
        vertical-align:top;
        border-top:1px solid #C0C0C0;
      }

      .tdLogicalColName {
        width:20em;
      }
      
      .tdPhysicalColName {
        width:20em;
      }
      
      .tdDataType {
        width:10em;
      }

      .tdPkFlag {
        width:4em;
      }

      .tdNullFlag {
        width:9em;
      }

      .tdTableHeading {
        padding:2px;
        font-family: Segoe UI, Arial, sans-serif;
        font-weight: bold;
        vertical-align:top;
        border-bottom: 1px solid #C0C0C0;
        background-color: rgb(240,240,240);
      }
      
      .subTitle {
        font-family: Segoe UI, Arial, sans-serif;
        font-weight: bold;
      }

      .references {
      }
      .comment {
        color:#666666;
        margin-left:3em;
        padding:0.25em;
      }
    </style>
  <title>$projectName</title>
    
</head>

<body>
  <center><h2>$projectName</h2></center>
  <h3>List of tables</h3>
  <ul>
    #foreach ($table in $sorter.sort($tables, "name"))
      <li><a href="#$table.physicalName">$table.name</a></li>
    #end
  </ul>
  
  #foreach ($table in $sorter.sort($tables, "name"))
  <div class="tableNameHeading">
    <h1>$table.name<a name="$table.physicalName"></a></h1>
    <h2>(Physical Name: $table.physicalName)</h2>
    #if ($table.remarks) <p class="comment">$table.remarks</p> #end
  </div>
  
  <div class="table">
    <table class="tableDefinition" width="100%">
    <tr>
      <td class="tdTableHeading tdLogicalColName">Logical Column Name</td>
      <td class="tdTableHeading tdPhysicalColName">Physical Column Name</td>
      <td class="tdTableHeading tdDataType">Type</td>
      <td class="tdTableHeading tdPkFlag">PK</td>
      <td class="tdTableHeading tdNullFlag">Nullable</td>
    </tr>
    #foreach ($column in $table.columns)
      <tr valign="top">
        <td class="tdTableDefinition">$column.name
        #if ($column.primaryKey)(PK)#end 
        #if ($column.foreignKey)
          <a href="#$column.getReferencedTable().getPhysicalName()">(FK)</a>
        #end
        </td>
        <td class="tdTableDefinition">$column.physicalName</td>
        <td class="tdTableDefinition">#typeDisplay($column)</td>
        <td class="tdTableDefinition" nowrap="nowrap">#if ($column.primaryKey)PK#end</td>
        <td class="tdTableDefinition" nowrap="nowrap">#if ($column.primaryKey || !$column.nullable)NOT NULL#end</td>
      </tr>
    ## foreach column
    #end
    </table>
    <div class="references">
      #if ($table.importedKeys.size() > 0)
        <p class="subTitle">References</p>
        <ul>
        #foreach ($rel in $table.importedKeys)
          <li>
          #set ($pkTable = $rel.getRelationship().getPkTable().getPhysicalName() )
          #set ($mappings = $rel.getRelationship().getChildrenWithoutPopulating())
            <a href="#$pkTable">$pkTable</a>
            through 
            ## unfortunately this must be put on a single line, otherwise
            ## there will be a whitespace after the opening and before the closing bracket
            (#foreach ($mapping in $mappings)$mapping.pkColumn.physicalName#if( $velocityHasNext ),#end#end)
           </li>
        #end
        </ul>
      #end
      #if ($table.exportedKeys.size() > 0)
        <p class="subTitle">Referenced By</p>
        <ul>
        #foreach ($rel in $table.exportedKeys)
          <li>
          #set ($fkTable = $rel.getFkTable().getPhysicalName())
          #set ($mappings = $rel.getChildrenWithoutPopulating())
          <a href="#$fkTable">$fkTable</a>
          referencing
          (#foreach ($mapping in $mappings)$mapping.fkColumn.physicalName#if( $velocityHasNext ),#end#end)
          </li>
        #end
        </ul>
      #end
    </div>
  </div>
  ## end foreach table
  #end 

</body>
</html>
