# Optional: To use this file, copy it to "build.properties" and edit the properties.
# Properties you set or uncomment here will override those defined in build.xml

# IMPORTANT NOTE: There is a problem with the XSLT-based help file generation that
# will not write the help files to the build path you specified if your build path
# contains spaces. This is because the XSL we're ends up replacing spaces in the
# pathname with '%20' and does not change them back when writing. As we do not
# currently know a good way to fix this yet, DO NOT USE SPACES in your build path 

# Unix-based build pathname example 
# build=/absolute/path

# Windows-based build pathname example 
# build=C:\\absolute\\path